/* Global Styles */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}